.calendar {
  flex-basis: 28.3%;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #f4f9fb;
}

.calendar__header {
  position: relative;
  border-radius: 5px 5px 0 0;
  padding: 15px 9px 5px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar__header__arrow__left {
  width: 5px;
  height: 10px;
  cursor: pointer;
  margin-right: 20px;
}

.calendar__header__arrow__left:hover svg {
  filter: invert(0.5) sepia(5) saturate(9);
}

.calendar__header__arrow__right {
  width: 5px;
  height: 10px;
  cursor: pointer;
}

.calendar__body {
  border-radius: 0 0 5px 5px;
  padding: 10px 15px;
}

.calendar__week__names {
  height: 17px;
  font-weight: 400;
  font-size: 12px;
  color: #6e7781;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px 1px;
  background-color: white;
  margin-bottom: 9px;
}

.calendar__days {
  font-size: 14px;
  font-weight: 400;
  color: black;
  text-align: center;
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  gap: 1px 1px;
}

.calendar__day {
  padding: 5.5px 0px;
  cursor: pointer;
  background-color: white;
  margin: 5px 0;
}

.calendar__day:hover {
  background-color: #ff8c33;
  color: white;
}

.calendar__additional__day {
  padding: 5.5px;
  font-weight: 300;
  cursor: pointer;
  color: #6e7781;
}

.calendar__pick__item {
  padding: 9px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.calendar__pick__item:hover {
  background-color: #ff8c33;
  border-radius: 10px;
}

.calendar__today__item {
  background-color: #ff8c33;
  color: white;
}

.calendar__selected__item {
  background-color: #ff8c33;
  color: white;
}
.calendar__selected__item:hover {
  background-color: #ff8c33;
  color: white;
}

.calendar__pick__items__container {
  font-weight: 400;
  color: black;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1px 1px;
  font-size: 12px;
}

.calendar__unchoosable__year {
  font-weight: 300;
  padding: 9px 16px;
  color: black;
}
