@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


.sidebarinfo {
    margin-left: 68px;
    gap: 4px;
}

.sidebarimg {
    width: 64px;
    height: 64px;
}

.sidebarName {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    word-wrap: break-word;
    margin-top: 4px;
    font-family: 'Raleway', sans-serif;
}

.sidebarPosition {
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    word-wrap: break-word;
    margin-top: -10px;
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
}